footer {
  background-color: $black;
  background-image: url('./assets/img/white_wall.png');
  background-repeat: repeat;
  background-blend-mode: darken;
  border-top: 1px solid $darkgray;
  color: $lightgray;

  p {
    padding: 4px 0;
    font-size: 12px;
    font-weight: bold;
  }

  a {
    color: $lightorange;
  }
  .bottom-footer {
    border-top: 1px solid $gray;
    padding: 6px 0;
    text-align: center;
  }
}