.header {
  background-color: $orange;
  position: relative;
  z-index: 99;

  .inner {
    display: flex;
    padding: 1.2rem 0;

    @media (min-width: $phone) {
      padding: 1.5rem 0;
      justify-content: space-between;
    }
  }

}

// Logo / Company Name
#logo {
  font-size: 0.8rem;
  line-height: 1.2rem;
  word-wrap: break-word;
  width: 50%;

  @media (min-width: $phone) {
    font-size: 1.2rem;
    line-height: 2.6rem;
  }
  a {
    color: $black;
  }
}//#logo


// Hamburger menu
.hamburger {
  margin-top: 2px;

  &:focus {
    outline: none;
  }
}

// Navigation
#navMenu {
  display: none;
  position: absolute;
  z-index: 98;
  left: auto;
  right: 10%;
  top: 100%;
  bottom: auto;
  width: 10rem;
  background-color: $orange;
  border-top: 1px solid $darkgray;

  /* Add slide to menu */
    // transform: translateX(-200px);
    // transition: transform 400ms ease-in-out;

  // Toggle w/ Javascript
  &.showNav {
    display: block;
    /* Add slide to menu */
    //  transform: translateX(0);
  }

  .menu {
    border: 1px solid $darkgray;
    li {
      padding: 1rem 0 0.8rem 0.8rem;
      border-bottom: 1px solid $darkgray;

      a {
        color: $black;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0.4rem;
      }
    }
  }
}
