.header {
  background-color: $lightgray;
  position: relative;
  z-index: 99;

  .inner {
    display: flex;
    padding: 1.2rem 0;

    @media (min-width: $phone) {
      padding: 10px 0;
      justify-content: space-between;
    }
  }

}//.header

// Logo
.logo__wrap {
  display: block;
  width: 40%;

  .logo {
    height: 100px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }//.logo

}//.logo__wrap



// Hamburger menu
.hamburger {
  margin-top: 2px;

  @media (min-width: $laptop) {
    display: none;
  }

  &:focus {
    outline: none;
  }
}

// Navigation
#navMenu {
  display: none;
  position: absolute;
  z-index: 98;
  left: auto;
  right: 10%;
  top: 100%;
  bottom: auto;
  width: 10rem;
  border-top: 1px solid $darkgray;

  @media (min-width: $laptop) {
    display: block;
    width: auto;
    border: none;
    z-index: 1;
    right: auto;
    position: relative;
  }
  // Toggle w/ Javascript
  &.showNav {
    display: block;

    @media (min-width: $laptop) {
      display: none;
    }
  }

  .menu {
    border: 1px solid $darkgray;

    @media (min-width: $laptop) {
      border: none;
      display: flex;
      justify-content: flex-end;
    }

    li {
      padding: 1rem 0 0.8rem 0.8rem;
      border-bottom: 1px solid $darkgray;

      @media (min-width: $laptop) {
        border: none;
        padding-left: 3rem !important;
      }

      a {
        color: $darker_orange;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 0.4rem;

        @media (min-width: $laptop) {
          transition: color ease 100ms;
          padding: 0;

          &:hover {
            color: $darkgray;
          }
        }
      }//a

    }//li
  }
}
